:root {
    --main-background-color: #FEFEFE;
    --main-text-color: #2C2C2C;
    --yellow: #FFE550;
    --green: #BBF330;
    --white: #fff;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--white);
    color: var(--main-text-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
    font-family: inherit;
    border: none;
}

.container {
    max-width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: auto;
}

.header-nav-list {
    display: flex;
    gap: 28px;
}

.header-nav {}

.header-nav-link {
    display: block;
    font-size: 14px;
    line-height: 1.14;
    color: var(--main-text-color);
    padding: 28px 0;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--green);
    font-weight: 700;
    text-decoration: underline;
}

.header-button {
    background-color: var(--green);
    border-radius: 30px;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    padding: 6px 18px;
    margin-left: 30px;
}

.hero {
    padding: 14px 0 69px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-title {
    max-width: 502px;
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 28px;
}

.hero-text {
    max-width: 511px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.hero-btn {
    background-color: var(--green);
    border-radius: 30px;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    padding: 6px 18px;
}

.hero-img {
    border-radius: 291px;
    border: 26px solid var(--yellow)
}

.about {
    background-color: var(--yellow);
    padding-top: 113px;
    padding-bottom: 124px;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-title {
    max-width: 526px;
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.about-desc {
    max-width: 500px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.about-list {
    display: flex;
    gap: 67px;
    margin-bottom: 32px;
}

.about-item {
    width: calc((100% - 67px)/2);
}

.about-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 16px;
}

.about-list-text {
    max-width: 253px;
    font-size: 14px;
    line-height: 1.5;
}

.about-btn {
    padding: 10px 22px;
    background: #FFFFFF;
    border: 2px solid #7EB101;
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: var(--main-text-color);
}

.wrapper {
    display: flex;
    gap: 84px;
    align-items: center;
}

.wrapper-item {
    display: flex;
    align-items: center;
    gap: 30px;
}

.wrapper-item:nth-child(1)::before {
    display: block;
    content: "";
    background-image: url(../images/orange.svg);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
}

.wrapper-item:nth-child(2)::before {
    display: block;
    content: "";
    background-image: url(../images/red.svg);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
}

.wrapper-item:nth-child(3)::before {
    display: block;
    content: "";
    background-image: url(../images/blue.svg);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
}

.swiper {
    width: 1300px;
    height: 400px;
}

.swiper-wrapper {
    display: flex;
    gap: 30px;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: #EFEFEF;
    border-radius: 16px;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #02897A;
}

.box {
    width: 545px;
    height: 640px;
    border: 10px solid #FFCA42;
    position: relative;
}

.box-img {
    position: absolute;
    right: 50px;
    bottom: 50px;
    filter: drop-shadow(0px 0px 20px rgba(27, 55, 100, 0.3));
}

.box-title::after {
    content: '';
    width: 50px;
    height: 3px;
    background: #FFCA42;
    display: block;
    margin-top: 23px;
}